[submodule "docker/tmp/openssl"]
	path = docker/tmp/openssl
	url = https://github.com/openssl/openssl.git


[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git

[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
