[submodule "docker/tmp/openssl"]
	path = docker/tmp/openssl
	url = https://github.com/openssl/openssl.git


[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "external/GIUF"]
	path = external/GIUF
	url = https://github.com/makr-code/GIUF.git

[submodule "tools/semgrep"]
	path = tools/semgrep
	url = https://github.com/semgrep/semgrep.git
	shallow = true

[submodule "tools/codeql"]
	path = tools/codeql
	url = https://github.com/github/codeql-cli-binaries.git
	shallow = true

[submodule "plugins/themisdb_geo"]
	path = plugins/themisdb_geo
	url = https://github.com/makr-code/themisdb_geo.git
	branch = develop
	commit = f81e665630de4b67779801a332670342e534c9c9

[submodule "plugins/themisdb_timeseries"]
	path = plugins/themisdb_timeseries
	url = https://github.com/makr-code/themisdb_timeseries.git
	branch = develop
	commit = 48c381e12576363a45a81bc116abd5ce4c621577

[submodule "projects/Themis.AdminTools.Shared"]
	path = projects/Themis.AdminTools.Shared
	url = https://github.com/makr-code/themisdb_admin_tools.git
