[submodule "docker/tmp/openssl"]
	path = docker/tmp/openssl
	url = https://github.com/openssl/openssl.git


[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git

[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "external/GIUF"]
	path = external/GIUF
	url = https://github.com/makr-code/GIUF.git

[submodule "tools/semgrep"]
	path = tools/semgrep
	url = https://github.com/semgrep/semgrep.git
	shallow = true

[submodule "tools/codeql"]
	path = tools/codeql
	url = https://github.com/github/codeql-cli-binaries.git
	shallow = true

[submodule "plugins/themisdb_ethic_ai"]
	path = plugins/themisdb_ethic_ai
	url = https://github.com/makr-code/themisdb_ethic_ai.git
	branch = main

[submodule "plugins/themisdb_llm_wiki"]
	path = plugins/themisdb_llm_wiki
	url = https://github.com/makr-code/themisdb_llm_wiki.git
	branch = main

[submodule "plugins/themisdb_storage"]
	path = plugins/themisdb_storage
	url = https://github.com/makr-code/themisdb_storage.git
	branch = main

[submodule "plugins/themisdb_importer"]
	path = plugins/themisdb_importer
	url = https://github.com/makr-code/themisdb_importer.git
	branch = main
[submodule "plugins/themisdb_plugin_signer"]
	path = plugins/themisdb_plugin_signer
	url = https://github.com/makr-code/themisdb_plugin_signer.git
	branch = develop
